/ALL
/Arts
/Cats
/Celebs
/Comedians
/Commentators
/Entertainment
/FastFood
/Friends
/Musician
/NASCAR
/News
/Pols
/SocialMedia
/TV
cleanRTs.xlsx
chicken.py
jungle.csv.csv
jungle.xlsx
retweetavg.py
~$cleanRTs.xlsx
06426000
